.className {
	property1: 5;
	property2: "16px";
	property3: "hidden";
}

.closebutton {
  width: 12px;
  height: 12px;
  background-color: #ff5f56;
  border-radius: 50%;
  cursor: pointer;
}

.window {
  overflow: hidden;
  border: thick double #32a1ce;
  width: 500px;
  border-radius: 16px;
  background-color: #C2DDF2;
}

.windowheader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #194B75;
  color: #fff;
  padding: 8px 12px;
  cursor: move;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
  position: relative;
  height: 16px;
}
